<a href="#/home">Home</a>	<a href="#/add">Add Prediction</a>
<div>
  <ul>
  
    <dt>
    Name:
    <input type="text" name="name" ng-model="nameFilter"> 
    Family:
    <input type="text" name="family" ng-model="familyFilter"> 
    Season:
    <input type="number" name="season" ng-model="seasonFilter"> 
    Episode:
    <input type="number" name="episode" ng-model="episodeFilter">
    <button ng-click="filter()">Filter</button>
    <button ng-click="clearFilter()">Clear Filter</button>
  	</dt>
    <div class="datagrid">
    	<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Family</th>
					<th>Season</th>
					<th>Episode</th>
					<th>Actions</th>					
				</tr>
			</thead>			
			<tbody>
				<tr ng-repeat="prediction in filteredPredictions | orderBy: name">
					<td>{{prediction.name}}</td>
					<td>{{prediction.family | uppercase}}</td>
					<td>{{prediction.season}}</td>
					<td>{{prediction.episode}}</td>
					<td>
						<a href="#/detail/{{prediction.id}}">Edit</a>
						<a href="#/delete/{{prediction.id}}">Delete</a>
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
    
  </ul>
</div>
